* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous";
}

:root {
  --red: rgba(255, 0, 0, 0.9);
  --black: rgb(10, 10, 10);
  --white: rgba(255, 255, 255, 1);
}

.container {
  overflow: hidden;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.main-content {
  background-color: var(--black);
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 10px;
  position: relative;
}

.intro {
  color: white;
  font-family: "Righteous";
  font-size: 60px;
  position: absolute;
  left: 10%;
  top: 25%;
  width: 20%;
}

span {
  font-size: 80px;
  position: absolute;
  top: 95%;
  left: 15%;
  z-index: 2;
  line-height: 0.9;
}

.line {
  width: 50px;
  background-color: var(--red);
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 52%;
  left: 28.5%;
  transform: rotate(-45deg);
}

.parallelogram {
  width: 70%;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  left: 40%;
  transform: skew(18deg);
  transition: 0.3s;
}

.parallelogram:hover {
  transform: skew(20deg);
}

.about {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 8.5%;
  top: 20%;
  z-index: 4;
  border-radius: 10px;
  transition: 0.3s;
}

.about:hover {
  background-color: var(--black);
}

.about a {
  color: var(--black);
  text-decoration: none;
  font-family: "Righteous";
  font-size: 40px;
  font-style: italic;
}

.about a:hover {
  color: var(--white);
}

.artworks {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 10%;
  top: 30%;
  z-index: 4;
  border-radius: 10px;
  transition: 0.3s;
}

.artworks:hover {
  background-color: var(--black);
  border-radius: 10px;
}

.artworks a {
  color: var(--black);
  text-decoration: none;
  font-family: "Righteous";
  font-size: 40px;
  font-style: italic;
}

.artworks a:hover {
  color: var(--white);
}

.websites {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 12.5%;
  top: 40%;
  z-index: 4;
  border-radius: 10px;
  transition: 0.3s;
}

.websites:hover {
  background-color: var(--black);
  border-radius: 10px;
}

.websites a {
  color: var(--black);
  text-decoration: none;
  font-family: "Righteous";
  font-size: 40px;
  font-style: italic;
}

.websites a:hover {
  color: var(--white);
}

.otherProjects {
  width: 320px;
  height: 50px;
  position: absolute;
  left: 15%;
  top: 50%;
  z-index: 4;
  border-radius: 10px;
  transition: 0.3s;
}

.otherProjects:hover {
  border-radius: 10px;
  background-color: var(--black);
}

.otherProjects a {
  color: var(--black);
  text-decoration: none;
  font-family: "Righteous";
  font-size: 40px;
  font-style: italic;
}

.otherProjects a:hover {
  color: var(--white);
}

.social {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 17.5%;
  top: 60%;
  z-index: 4;
  transition: 0.3s;
  border-radius: 10px;
}

.social a {
  color: var(--black);
  text-decoration: none;
  font-family: "Righteous";
  font-size: 40px;
  font-style: italic;
}

.social:hover {
  background-color: var(--black);
  border-radius: 10px;
}

.social a:hover {
  color: var(--white);
}

section {
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: start;
}

/* About Me Section */
.aboutHeading {
  font-size: 60px;
  position: absolute;
  left: 60%;
  top: 5%;
  z-index: 1;
}

.abLine {
  width: 50px;
  background-color: var(--red);
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 22%;
  left: 64.5%;
  transform: rotate(-45deg);
}

.abImageContainer {
  background-image: url(./Profile\ Picture.jpg);
  background-size: cover;
  width: 60vw;
  height: 100vh;
  position: absolute;
  left: -15%;
  top: 0;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}

.infoContainer {
  /* background-color: red; */
  position: absolute;
  left: 50%;
  top: 40%;
  width: 35vw;
  text-align: justify;
  text-align-last: center;
}

.infoContainer p {
  font-size: 30px;
}

.languages {
  /* background-color: rgb(10, 10, 10); */
  position: absolute;
  left: 57%;
  top: 65%;
  width: 20%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
}

.languages:hover {
  border-bottom: 5px solid var(--red);
}

.languages .java,
.languages .HTML,
.languages .python,
.languages .CSS,
.languages .CPlusPlus {
  width: 50px;
  margin-bottom: 15px;
}

/* Artworks Section */
.artworkSection {
  overflow: hidden;
}
.artworkHeading {
  font-size: 60px;
  /* position: absolute; */
  text-align: center;
  padding-top: 50px;
}

.arLine {
  width: 50px;
  background-color: var(--red);
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 14%;
  left: 57%;
  transform: rotate(-45deg);
  z-index: -1;
}

.panels {
  width: 90vw;
  height: 70vh;
  position: relative;
  left: 5%;
  top: 7%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(10, 10, 10); */
}

.portrait1,
.portrait2,
.portrait3 {
  border-radius: 30px;
}

.portrait1 {
  height: 90%;
  width: 30%;
  background-image: url(./Portraits/Portrait\ 81.png);
  background-size: cover;
  /* padding-bottom: 10px; */
  transition: 0.3s;
}

.portrait2 {
  height: 90%;
  width: 30%;
  background-image: url(./Portraits/Portrait\ 82.png);
  background-size: cover;
  transition: 0.3s;
}

.portrait3 {
  height: 90%;
  width: 30%;
  background-image: url(./Portraits/Portrait\ 80.png);
  background-size: cover;
  transition: 0.3s;
}

/* Hover animations */
.portrait1:hover {
  border-bottom: 5px solid var(--red);
  border-left: 5px solid var(--red);
  border-radius: 10px;
}

.portrait2:hover {
  border-bottom: 5px solid var(--red);
  border-radius: 10px;
}

.portrait3:hover {
  border-bottom: 5px solid var(--red);
  border-right: 5px solid var(--red);
  border-radius: 10px;
}

.blackSection {
  position: absolute;
  width: 1500px;
  height: 1500px;
  background-color: rgb(10, 10, 10);
  z-index: -1;
  transform: rotate(20deg);
  left: 60vw;
  top: -10vh;
}

/* Website Section */
.websiteSection {
  overflow: hidden;
  position: relative;
}

.websiteSection h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
}

.websiteSection .wLine {
  width: 50px;
  background-color: var(--red);
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 14%;
  left: 57%;
  transform: rotate(-45deg);
  z-index: -1;
}

.websiteSection .websitesContainer {
  position: absolute;
  width: 100vw;
  height: 75vh;
  /* background-color: red; */
  top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.websitesContainer img {
  width: 30vw;
  height: auto;
  border-radius: 10px;
  transition: 250ms;
}

.websitesContainer img:hover {
  border-bottom: 5px solid var(--red);
}

.websiteSection .blackArea {
  position: absolute;
  z-index: -1;
  width: 40vw;
  height: 100vw;
  background-color: var(--black);
  transform: rotate(-20deg);
  top: -200px;
  left: 80vw;
}
/* Other Projects Section */

/* Social Section */
